
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Belleza|Calligraffitti|Chonburi|Forum|Imprima&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alegreya+SC|Belleza|Calligraffitti|Carter+One|Chonburi|Forum|Imprima&display=swap');
@import url('https://fonts.googleapis.com/css?family=Amarante|Elsie|Paprika&display=swap');


#intro{

    color: white;
    font-weight: bold;
 
    text-align: center;
    text-transform: uppercase;
    padding-top: 230px;
    height: 600px;
    font-family: Calligraffitti;
  }
  .menu {
 
   color: yellow;
   text-shadow: 6px 6px green;
   font-family: Calligraffitti;
   font-size: 30px;
   }
   body{
     font-family: Calligraffitti;
   }
   h1{
    color:red;
    font-family: Calligraffitti;
  
  }
  body{
  
      background-image: url("../images/intro.jpg");
      background-size: cover;
       background-repeat: no-repeat;
    background-color: red;
  }
  .btn{
    color: white;
    border-color: black;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
  }